<template>
  <div class="Chip">
    <div class="Chip--text">
      {{ text }}
    </div>
  </div>
</template>

<script lang="ts">
import { Vue } from 'vue-class-component'

class Props {
  text?: string
}

export default class Chip extends Vue.props(Props) {}
</script>

<style lang="sass" scoped>
.Chip
  align-items: center
  border-radius: 16px
  box-sizing: border-box
  display: flex
  height: 30px
  justify-content: center
  font-size: 0.8125rem
  .Chip--text
    overflow: hidden
    white-space: nowrap
    padding-left: 12px
    padding-right: 12px
    text-overflow: ellipsis
</style>
