<template>
  <component :width="width" :height="height" :color="color" :is="icon" />
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component'
import Open from '@/components/icons/IconOpen.vue'
import Search from '@/components/icons/IconSearch.vue'
import Resolved from '@/components/icons/IconResolved.vue'
import Chevron from '@/components/icons/IconChevron.vue'

class Props {
  name?: string
  width?: number | string
  height?: number | string
  color?: string
}
@Options({
  name: 'Icon',
  computed: {
    icon() {
      switch (this.name.toLowerCase().trim()) {
        case 'chevron':
          return Chevron
        case 'open':
          return Open
        case 'resolved':
          return Resolved
        case 'search':
          return Search
        default:
          return null
      }
    },
  },
})
export default class Icon extends Vue.props(Props) {}
</script>

<style lang="sass" scoped>
svg
  display: inline-block
  vertical-align: baseline
</style>
