<template>
  <div
    :class="`IncidentCard IncidentCard--status-${incident.status}`"
    :data-id="incident.id"
  >
    <div class="IncidentCard--status-indicator"></div>
    <div class="IncidentCard--content">
      <div class="IncidentCard--title">{{ incident.name }}</div>
      <div class="IncidentCard--status-container">
        <div class="IncidentCard--status">
          <Icon class="IncidentCard--status-icon" :name="incident.status" />
          {{ status }}
        </div>
        <Chip
          :class="
            `IncidentCard--severity IncidentCard--severity-${incident?.severity
              ?.level ?? 'unknown'}`
          "
          :text="severity"
        />
      </div>
    </div>
    <div class="IncidentCard--details">
      <div class="IncidentCard--time">
        <div class="IncidentCard--time-created">
          {{ incident.createdOn.toLocaleString() }}
          <div class="IncidentCard--time-label">Created</div>
        </div>
        <div class="IncidentCard--time-duration">
          {{ duration }}
          <div class="IncidentCard--time-label">Duration</div>
        </div>
      </div>
      <div class="IncidentCard--channel">
        Channel:
        <a class="IncidentCard--channel-link" :href="incident?.channel.link"
          >#{{ incident?.channel.name }}</a
        >
      </div>
    </div>
    <div class="IncidentCard--user">
      <img
        v-if="incident.user"
        class="IncidentCard--user-avatar"
        :src="incident.user.avatarUrl"
        alt=""
      />
      <img
        v-else
        class="IncidentCard--user-avatar"
        src="@/assets/unassigned.png"
        alt=""
      />
      <div class="IncidentCard--user-name">
        {{ incident.user ? incident.user.realName : 'Unassigned' }}
        <div class="IncidentCard--user-title">Incident Commander</div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component'

import Chip from '@/components/Chip.vue'
import Icon from '@/components/Icon.vue'
import { Incident, Status } from '@/types'
import { formatTime } from '@/utils'

class Props {
  incident?: Incident
}

@Options({
  name: 'IncidentCard',
  components: {
    Chip,
    Icon,
  },
  computed: {
    status() {
      return this.incident.status
    },
    severity() {
      return this.incident.severity
        ? `Level ${this.incident.severity.level}`
        : 'unknown'
    },
    duration() {
      return formatTime(this.incident.duration).toString()
    },
  },
})
export default class IncidentCard extends Vue.props(Props) {
  UNASSIGNED_AVATAR_URL =
    'https://3znvnpy5ek52a26m01me9p1t-wpengine.netdna-ssl.com/wp-content/uploads/2017/07/noimage_person.png'
}
</script>

<style lang="sass" scoped>
@import "../styles/variables"

.IncidentCard
  background-color: white
  box-shadow: 0 3px 7px 1px rgba(118, 118, 118, 0.17)
  border-radius: 3px
  display: grid
  flex-flow: row
  grid-template-columns: 80px 30% 35% auto
  min-height: 80px
  padding: 30px 20px
  text-align: left
  &:not(:last-child)
    margin-bottom: 25px

.IncidentCard--status-indicator
  align-items: center
  display: flex
  margin-right: 15px
  padding: 12px
  &::before
    border-radius: 50%
    content: ""
    display: flex
    height: 28px
    margin-right: 10px
    width: 28px

.IncidentCard--status-open
  .IncidentCard--status-indicator
    &::before
      background-color: $open-color
      box-shadow: 0 0 0 12px transparentize($open-color, .61)
  .IncidentCard--status
    color: $open-color

.IncidentCard--status-resolved
  .IncidentCard--status-indicator
    &::before
      background-color: $lighter-grey
      box-shadow: 0 0 0 12px transparentize($lighter-grey, .61)
  .IncidentCard--status
    color: $resolved-color

.IncidentCard--content
  display: flex
  flex-flow: column
  justify-content: space-between
  width: 90%
  .IncidentCard--title
    font-weight: 500
    font-size: 16px

.IncidentCard--status-container
  align-items: center
  display: flex
  text-transform: capitalize

.IncidentCard--status
  display: flex
  margin-right: 13px
  .IncidentCard--status-icon
    margin-right: 5px

.IncidentCard--severity
  border-radius: 17px
  font-weight: 600
.IncidentCard--severity-unknown
  background-color: transparentize($unknown-color, .8)
  color: $unknown-color
.IncidentCard--severity-1
  background-color: transparentize($severity-1-color, .8)
  color: $severity-1-text-color
.IncidentCard--severity-2
  background-color: transparentize($severity-2-color, .8)
  color: $severity-2-color

.IncidentCard--details
  display: flex
  flex-flow: column
  justify-content: space-between

.IncidentCard--time
  display: flex
  flex-flow: row
  .IncidentCard--time-duration, .IncidentCard--time-created
    display: flex
    flex-flow: column
    font-size: 14px
    font-weight: 500
  .IncidentCard--time-created
    margin-right: 25px
  .IncidentCard--time-label
    color: $light-grey
    font-size: 12px
    margin-top: 5px

.IncidentCard--channel
  font-size: 12px
  font-weight: 500
  overflow: hidden
  text-overflow: ellipsis
  width: 80%
  white-space: nowrap
  .IncidentCard--channel-link
    color: $link-color
    margin-left: 4px
    text-decoration: underline dotted

.IncidentCard--user
  align-items: center
  display: flex
  .IncidentCard--user-avatar
    border-radius: 50%
    height: min-content
    margin-right: 10px
    width: 35px

.IncidentCard--user-name
  .IncidentCard--user-title
    color: $light-grey
    display: flex
    flex-flow: column
    font-size: 12px
    margin-top: 5px
</style>
