<template>
  <div class="Search">
    <div class="Search--field">
      <Icon name="search" />
      <input
        class="Search--field-input"
        type="text"
        placeholder="Search incidents"
        @input="onInput($event.target.value)"
      />
    </div>
    <div class="Search--filters" :open="menuOpen">
      Show:
      <div class="Search--selected-filter" @click="menuOpen = !menuOpen">
        {{ selectedFilter }}
        <Icon class="Search--selected-filter-chevron" name="chevron" />
      </div>
      <div class="Search--filters-menu" @mouseleave="menuOpen = false">
        <label
          v-for="(filter, index) in filters"
          :key="index"
          class="Search--filter"
          :for="filter"
        >
          <input
            :checked="index === 0"
            v-model="selectedFilter"
            class="Search--filter-input"
            type="radio"
            :id="filter"
            :value="filter"
            name="filter"
            @check="onSelect"
          />
          <span class="Search--filter-radio"></span>
          <div class="Search--filter-text">
            {{ filter }}
          </div>
        </label>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component'
import { debounce } from 'lodash'

import Icon from '@/components/Icon.vue'

class Props {}
@Options({
  name: 'Search',
  components: {
    Icon,
  },
  watch: {
    // whenever the filter changes emit an event
    selectedFilter(filter) {
      this.$emit('filter', filter)
    },
  },
})
export default class IncidentCard extends Vue.props(Props) {
  // Holds our list of filters by which too filter incidents
  selectedFilter = 'all'

  // List of possible filters
  filters: string[] = ['all', 'open', 'resolved']
  menuOpen = false

  /**
   * Fires when user enters input into the search field. It's debounced for
   * before emitting the event.
   */
  onInput = debounce(value => {
    this.$emit('search', value)
  }, 400)
}
</script>

<style lang="sass" scoped>
@import "../styles/variables"

.Search
  display: flex
  flex-flow: row
  justify-content: space-between

.Search--field
  align-items: baseline
  display: flex
  flex-flow: row
  font-size: 17px
  .Search--field-input
    background-color: transparent
    border: none
    margin-left: 5px
    outline: none
    &::placeholder
      color: $grey-blue
      opacity: 0
      transition: opacity 100ms
    &:not(:focus)
      &::placeholder
        opacity: 1

.Search--filters
  align-items: center
  color: $grey-blue
  display: flex
  position: relative
  text-transform: capitalize
  width: 15%
  &[open="false"]
    .Search--filters-menu
      transform: scaleY(0)
      opacity: 0
    .Search--selected-filter-chevron
      transform: rotate(0)
.Search--selected-filter
  align-items: center
  color: #2d3e4f
  cursor: pointer
  display: flex
  font-weight: 500
  margin-left: 8px
  .Search--selected-filter-chevron
    margin-left: 8px
    transform: rotate(180deg)
    transition: transform 250ms

.Search--filters-menu
  background-color: white
  box-shadow: 0 4px 7px 2px rgba(0, 0, 0, 0.19)
  border-radius: 3px
  display: flex
  flex-flow: column
  opacity: 1
  overflow: hidden
  position: absolute
  text-align: left
  transition: transform .2s, opacity .2s
  transform-origin: top
  top: 100%
  z-index: 1
  &:not(:focus)
    opacity: 1
  .Search--filter
    align-items: center
    cursor: pointer
    display: flex
    font-size: 14px
    font-weight: 500
    overflow: hidden
    padding: 15px 20px
    &:hover
      background: hsl(0, 0, 77, 0.29)
    .Search--filter-radio
      background: #685FED
      box-shadow: 0 6px 12px hsl(244, 80, 65, .39)
      border-radius: 50%
      height: 20px
      margin-right: 15px
      opacity: .5
      transition: opacity 200ms
      width: 20px

.Search--filter-input
  position: absolute
  visibility: hidden
  &:checked ~ .Search--filter-radio
    opacity: 1
</style>
