<template>
  <svg
    :width="width"
    :height="height"
    :fill="color"
    viewBox="0 0 16 15"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      clip-rule="evenodd"
      d="M0.843262 7.5C0.843262 3.36 4.19576 0 8.33576 0C12.4833 0 15.8433 3.36 15.8433 7.5C15.8433 11.64 12.4833 15 8.33576 15C4.19576 15 0.843262 11.64 0.843262 7.5ZM7.59326 3.75H8.71826V7.6875L12.0933 9.69L11.5308 10.6125L7.59326 8.25V3.75Z"
      fill-rule="evenodd"
    />
  </svg>
</template>

<script lang="ts">
import { Options, Vue, prop } from 'vue-class-component'

class Props {
  width = prop<number | string>({ default: 15 })
  height = prop<number | string>({ default: 15 })
  color = prop<string>({ default: '#F4937D' })
}
@Options({
  name: 'IconOpen',
})
export default class IconOpen extends Vue.props(Props) {}
</script>
