<template>
  <svg
    v-if="checked"
    :width="width"
    :height="height"
    viewBox="0 0 15 15"
    :fill="colorChecked"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M0.666504 7.5C0.666504 3.636 3.8025 0.5 7.6665 0.5C11.5305 0.5 14.6665 3.636 14.6665 7.5C14.6665 11.364 11.5305 14.5 7.6665 14.5C3.8025 14.5 0.666504 11.364 0.666504 7.5ZM6.26633 9.01923L10.8793 4.40623L11.8663 5.40023L6.26633 11.0002L3.46633 8.20023L4.45333 7.21323L6.26633 9.01923Z"
    />
  </svg>
  <svg
    class="IconCheckCircle-unchecked"
    v-else
    :width="width"
    :height="height"
    viewBox="0 0 15 15"
    :stroke="colorUnchecked"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M1.1665 7.5C1.1665 3.91214 4.07865 1 7.6665 1C11.2544 1 14.1665 3.91214 14.1665 7.5C14.1665 11.0879 11.2544 14 7.6665 14C4.07865 14 1.1665 11.0879 1.1665 7.5Z"
    />
  </svg>
</template>

<script lang="ts">
import { Options, Vue, prop } from 'vue-class-component'

class Props {
  width = prop<number | string>({ default: 15 })
  height = prop<number | string>({ default: 15 })
  colorChecked = prop<string>({ default: '#1F6A95' })
  colorUnchecked = prop<string>({ default: '#ABABAB' })
  checked = prop<boolean>({ default: false })
}
@Options({
  name: 'IconCheckCircle',
})
export default class IconCheckCircle extends Vue.props(Props) {}
</script>
<style lang="sass" scoped>
.IconCheckCircle-unchecked
  &:hover
    fill: #dedede
</style>
