<template>
  <svg
    :width="width"
    :height="height"
    fill="none"
    viewBox="0 0 13 12"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M10.7412 5.7401C10.7412 6.9047 10.2723 7.9588 9.51194 8.7256C9.22759 9.01235 8.90269 9.25865 8.54679 9.4551C7.94069 9.78965 7.24389 9.9802 6.50109 9.9802C4.15935 9.9802 2.26099 8.08185 2.26099 5.7401C2.26099 3.39836 4.15935 1.5 6.50109 1.5C8.84284 1.5 10.7412 3.39836 10.7412 5.7401Z"
      :stroke="color"
    />
    <path
      d="M9.83862 9.07764L11.7045 10.9435"
      :stroke="color"
      stroke-linecap="round"
    />
  </svg>
</template>

<script lang="ts">
import { Options, Vue, prop } from 'vue-class-component'

class Props {
  width = prop<number | string>({ default: 15 })
  height = prop<number | string>({ default: 14 })
  color = prop<string>({ default: '#697988' })
}
@Options({
  name: 'IconSearch',
})
export default class IconSearch extends Vue.props(Props) {}
</script>
