<template>
  <svg
    :width="width"
    :height="height"
    viewBox="0 0 12 8"
    :fill="color"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M10.59 0.295013L6 4.87501L1.41 0.295013L0 1.70501L6 7.70501L12 1.70501L10.59 0.295013Z"
    />
  </svg>
</template>

<script lang="ts">
import { Options, Vue, prop } from 'vue-class-component'

class Props {
  width = prop<number | string>({ default: 12 })
  height = prop<number | string>({ default: 8 })
  color = prop<string>({ default: '#2d3e4f' })
}
@Options({
  name: 'IconChevron',
})
export default class IconChevron extends Vue.props(Props) {}
</script>
