<template>
  <svg
    :width="width"
    :height="height"
    viewBox="0 0 15 15"
    :fill="color"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M0.666504 7.5C0.666504 3.636 3.8025 0.5 7.6665 0.5C11.5305 0.5 14.6665 3.636 14.6665 7.5C14.6665 11.364 11.5305 14.5 7.6665 14.5C3.8025 14.5 0.666504 11.364 0.666504 7.5ZM6.26633 9.01923L10.8793 4.40623L11.8663 5.40023L6.26633 11.0002L3.46633 8.20023L4.45333 7.21323L6.26633 9.01923Z"
    />
  </svg>
</template>

<script lang="ts">
import { Options, Vue, prop } from 'vue-class-component'

class Props {
  width = prop<number | string>({ default: 15 })
  height = prop<number | string>({ default: 15 })
  color = prop<string>({ default: '#00CA8D' })
}
@Options({
  name: 'IconResolved',
})
export default class IconResolved extends Vue.props(Props) {}
</script>
