<template>
  <div class="App--stats">
    <div class="App--stat" v-for="(stat, index) in stats" :key="index">
      <div class="App--stat-value">{{ stat.value }}</div>
      <div class="App--stat-label">{{ stat.label }}</div>
    </div>
  </div>
  <Search class="App--search" @search="onSearch" @filter="onFilter" />
  <transition-group tag="div" name="list" class="App--incidents">
    <IncidentCard
      class="App--incident"
      v-for="incident in filteredIncidents"
      :key="incident.id"
      :incident="incident"
    />
  </transition-group>
  <transition name="fade">
    <div v-if="filteredIncidents.length === 0" class="App--no-results">
      No results
    </div>
  </transition>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component'

import IncidentCard from '@/components/IncidentCard.vue'
import Search from '@/components/Search.vue'

import { Incident, Stat } from '@/types'

import { calculateStats, deserializeIncidents, indexIncidents } from '@/utils'

import data from '@/assets/incidents.json'

@Options({
  components: {
    IncidentCard,
    Search,
  },
  computed: {
    /**
     * Applies filters and search query to list of incidents.
     */
    filteredIncidents() {
      const incidents: Incident[] =
        this.filter === 'all'
          ? this.incidents
          : this.incidents.filter(
              (incident: Incident) => this.filter === incident.status
            )
      // Adds the where clause search query to only search thru filtered results
      const where = this.filter !== 'all' ? { status: this.filter } : {}
      return this.query
        ? this.searchIndex.search(this.query, { where })
        : incidents
    },
  },
})
export default class App extends Vue {
  // The incidents to be displayed within the app
  incidents: Incident[] = deserializeIncidents(data.incidents)

  // The index used for searching incidents
  searchIndex = indexIncidents(this.incidents)

  // The user's query
  query = ''

  // The selected filter
  filter = 'all'

  // List of stats about the incidents that will be displayed
  stats: Stat[] = []

  mounted() {
    this.stats = calculateStats(this.incidents)
  }

  /**
   * Called when user searches for an incident
   * @param query - the query the user input
   */
  onSearch(query: string) {
    this.query = query
  }

  /**
   * Called when user selects a filter
   * @param filter - the selected filter
   */
  onFilter(filter: string) {
    this.filter = filter
  }
}
</script>

<style lang="sass">
@import "./styles/variables"

#app
  color: #2c3e50
  background-color: $bg-color
  box-sizing: border-box
  font-family: "Avenir Next", Helvetica, Arial, sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  min-height: 100%
  padding: 50px 20%
  text-align: center

.App--search
  margin: 0 auto 25px auto
  width: 90%

.App--incident
  transition: all 0.8s ease
.App--stats
  display: flex
  margin-bottom: 25px
  .App--stat
    font-weight: 500
    padding: 40px
    .App--stat-value
      font-size: 28px
      margin-bottom: 8px
    .App--stat-label
      font-size: 16px
      opacity: .7
      text-transform: capitalize

@media only screen and (max-width: 1400px)
  #app
    padding: 50px 10%

/* Transition animation for incident card movements */
.list-enter-from,
.list-leave-to
  opacity: 0
  transform: translateY(30px)
.list-leave-active
  position: absolute

/* Transition animation for no results message */
.fade-enter-active,
.fade-leave-active
  transition: opacity 0.5s ease
.fade-enter-from,
.fade-leave-to
  opacity: 0
</style>
